@page "/categoria/add"
@inject LojaContext loja

<MudContainer MaxWidth="MaxWidth.Large">
<MudGrid Class="d-flex align-center justify-center ">

          <MudItem xs="12">
              <div>
                  <MudText Typo="Typo.h5">Adicionar Categoria</MudText>
              </div>
              
             <MudTextField @bind-Value="novaCategoria" Label="Adicionar Categoria" Variant="Variant.Outlined"></MudTextField>
          </MudItem>
              <MudButton @onclick="Adicionar" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Style="background-color: #263238; color: #fff;"  Class=" mt-2 mb-6">Adicionar Categoria</MudButton>
              
</MudGrid>
</MudContainer>



<div class="alert alert-success">@mensagem</div>

@code {

    private string novaCategoria; 
    private string mensagem = "";
    
    private void Adicionar()
    {
        var categoria = new Categoria
        {
            Descricao = novaCategoria
        };
        loja.Categorias.Add(categoria);
        loja.SaveChanges();

        mensagem = "Categoria adicionada";
    }

}
