@page "/categoria/add"
@inject LojaContext loja
@inject ISnackbar Snackbar
@inject NavigationManager NavManager

<MudContainer MaxWidth="MaxWidth.Large">
<MudGrid Class="d-flex align-center justify-center ">

          <MudItem xs="12">
              <div>
                  <MudText Typo="Typo.h5">Adicionar Categoria</MudText>
              </div>
              
             <MudTextField @bind-Value="novaCategoria" Label="Adicionar Categoria" Variant="Variant.Outlined"></MudTextField>
          </MudItem>
              <MudButton @onclick="Adicionar" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Style="background-color: #263238; color: #fff;"  Class=" mt-2 mb-6">Adicionar Categoria</MudButton>
              
</MudGrid>
</MudContainer>


@code {

    private string novaCategoria; 
    private string mensagem = "";
    
    
     void ChangePosition(string message, string position)
    {
        Snackbar.Clear();
        Snackbar.Configuration.PositionClass = position;
        Snackbar.Add(message, Severity.Success);
    }

    private void Adicionar()
    {
        var categoria = new Categoria
        {
            Descricao = novaCategoria
        };
        loja.Categorias.Add(categoria);
        loja.SaveChanges();
        ChangePosition("Categoria adicionada com sucesso!", Defaults.Classes.Position.TopRight);
        NavManager.NavigateTo("/categoria/index");
    }

   
}
