@page "/"
@page "/index"

 <MudContainer MaxWidth="MaxWidth.Large">
    <MudCardContent>
        <MudText Typo="Typo.body2"><h2>Bem-vindo(a) à Loja App - Projeto Prova - Aluno: BRENO NOGUEIRA ARAÚJO</h2></MudText>
    </MudCardContent>
<MudCard Outlined="true">
    <MudCardContent>
        <MudText Typo="Typo.body2">Conheça as nossas categorias</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudLink Href="/categoria">Categorias</MudLink>
    </MudCardActions>
</MudCard>
<hr/>
<MudCard Outlined="true">
    <MudCardContent>
        <MudText Typo="Typo.body2">Clientes da Loja</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudLink Href="/clientes/index">Clientes</MudLink>
    </MudCardActions>
</MudCard>
 </MudContainer>       


@code {

}