@page "/sobre"

<h3>Sobre</h3>

<p>
	Esta página está sendo desenvolvida pela disciplina de
	Interface Gráfica com Banco de Dados, ministrada pelo professor
	<strong>Liluyoud Cury de Lacerda</strong>
</p>

<p>@mensagem</p>

<button @onclick="Adicionar" class="btn btn-primary">Adicionar</button>